pkgbase = ros-noetic-roslib
	pkgdesc = ROS - Base dependencies and support libraries for ROS.
	pkgver = 1.15.8
	pkgrel = 2
	url = https://wiki.ros.org/roslib
	arch = i686
	arch = x86_64
	arch = aarch64
	arch = armv7h
	arch = armv6h
	license = BSD
	makedepends = cmake
	makedepends = ros-build-tools
	makedepends = ros-noetic-rospack
	makedepends = ros-noetic-catkin
	makedepends = boost
	depends = ros-noetic-ros-environment
	depends = ros-noetic-rospack
	depends = ros-noetic-catkin
	depends = python-rospkg
	source = ros-noetic-roslib-1.15.8.tar.gz::https://github.com/ros/ros/archive/136e18e9dfda748a87b5ed197a36587f612c6e46.tar.gz
	sha256sums = 1a5214cb8453388a8017ba2cc1eec659a29f61c854c35aa75923cd466a12222d

pkgname = ros-noetic-roslib
